@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
    background-image: linear-gradient(blue white black);
}
body {
    background-color:white;
    margin: 0px 0px 0px 0px;
}
h1.Name {
    font-size: 40px;
    font-family: 'Dosis', sans-serif;
}
span {
    color: black;
}
.name-details h1 {
    font-family: 'Dosis', sans-serif;
    font-size: 48px;
}
.about-content h1 {
    font-size: 45px;
}
.Outer-all {
    width: 100%;
    z-index: 1;
    position: fixed;
    background-image: linear-gradient(179deg, black, transparent);
    height: 15vh;
    opacity: 0.9;
    animation: header 2s ease-in-out;
}
@keyframes header{
    0%{
        opacity: 0.5;
        transform: translateY(-50%);
    }
}
nav {
    width: 95%;
    margin: auto;
    height: 100%;
}
.name-deails-overll {
    text-align: left;
    justify-content: flex-start;
    position: absolute;
    transform: translateY(126%);
    color: white;
    letter-spacing: 0.4rem;
    animation: content 2s ease-in-out;
}
@keyframes content{
    0%{
        transform: translateX(-50%);
    }
}
.Name {
    text-transform: uppercase;
    color: white;
    align-items: center;
    transform: translate(3vh,5vh);
    text-align: center;
}
h4 {
    text-align: center;
    color: white;
    letter-spacing: 0.4rem;
}
.but-border {
    position: absolute;
    transform: translate(88vh, 88vh);
}
.but-border a {
    border-radius: 5px;
    border: 1px solid white;
    text-decoration: none;
    padding: 20px 60px;
    color: white;
}
.background-image img{
        width: 100%;
}
.about-content p {
    font-size: 20px;
    line-height: 2.2rem;
}
.Name {
    text-transform: uppercase;
    margin-left: 4px;
    color: white;   
}

.skill-inner {
    text-align: center;
}
.skill-img img {
    margin-left: 20px;
    border-radius: 100px;
    width: 200px;
    filter: grayscale(1);
    transition: 0.3s ease filter;
}
.skill-img img:hover {
    filter: none;
    transition: 0.10s ease filter;
}
.Skill h1{
    text-transform: uppercase;
    font-size: 45px;
}
.project-outer {
    text-align: center;
}
.project-inner {
    margin-top: 20px;
    display: inline-flex;
    background: black;
}
.project-img img {
    width: 80vh;
    height: 200px;
}
.project-content p {
    line-height: 1.9rem;
    margin-top: 56px;
    font-size: 19px;
}
.project-content {
    width: 80vh;
    color: white;
}
.about p{
    font-size: 19px;
    line-height: 1.4285em;
}
.Skill p {
    line-height: 1.9rem;
    margin-top: 20px;
    font-size: 22px;
}
.skill-img {
    margin-top: 25px;
}
.project-outer h1 {
    font-size: 45px;
}
.about-img img {
    width: 270px;
    border: 5px solid white;
    border-radius: 40px;
}
.about-content{
    margin-top: 50px;
    padding-left: 90px;
}
.about-outer {
    margin-top: 50px;
    text-align: center;
    position: relative;
}
.about-inner {
    display: inline-flex;
}
.contect-outer {
    text-align: center;
    width: 100%;
}
.about-content h4:hover {
    color: red;
    cursor: pointer;
}
.about-content h4 {
    color: black;
}   
.contect-inner {
    margin-top: 25px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}
.contect-content {
    width: 350px;
    height: 180px;
    display: flex;
    padding-left: 10px;
    border: 3px solid gray;
    border-radius: 20px;    
    flex-direction: column;
}
.contect-img img {
    width: 100px;
}
.contect-details {
    text-align: center;
}
.contect-outer h1 {
    font-size: 45px;
    text-transform: uppercase;
}
.contect-outer .para {
    font-size: 20px;
    letter-spacing: 0.1rem;
    line-height: 1.9rem;
}
.contect-details {
    font-size: 17px;
}
.contect-details a {
    text-decoration: none;
    color: black;
}.contect-details a:hover {
    color: brown;
}
.footer-inner {
    margin-top: 100px;
    height: 300px;
    background: rgb(0, 0, 0);
}
.footer-img {
    text-align: center;
    transform: translate(0px, 40px);
}
.footer-img img {
    width: 55px;
    border: 1px solid;
    border-radius: 50px;
    margin-right: 8px;
}
.footer-name h1.Name1    {
    text-align: center;
}
.Copyright {
    text-align: center;
}
.Copyright p {
    color: white;
}
h1.Name1 {
    color: white;
}
.space {
    margin-top: 30px;
}
.but-border a:hover {
    cursor: pointer;
    background: black;
}

@media screen and (min-width:767px){

}
@media screen and (min-width:320px){
    .name-deails-overll{
        display: none;
    }
    .project-content p {
        font-size: 22px;
    }
    .about-content p {
        font-size: 22px;
    }
    .contect-outer .para {
        font-size: 22px;
    }
    .about-content h4 {
        font-size: 26px;
    }
    .contect-details {
        font-size: 17px;
    }
    .about-content h1 {
        font-size: 50px;
    }
    .contect-outer h1 {
        font-size: 50px;
    }
    .project-content {
        width: 100%;
    }
    .project-img img {
        width: 95%;
        height: 200px;
        margin-top: 10px;
    }
    .project-inner {
        display: inline-grid;   
    }
    .space {
        width: 200%;
    }
    .background-image {
        width: 200%;
    }
    .background-image img {
        height: 80vh;
    }
    .but-border {
        transform: translate(44vh, 65vh);
    }
    .about-inner {
        width: 100%;
        display: inline-grid;
    }
    .about-img img {
        width: 326px;
    }
    .about-content {
        padding-left: 0px;
    }
    .contect-inner {
        display: inline-grid;
    }
    .contect-content {
        margin-top: 14px;
    }
}